<div class="inventories-page">
  <h1>Add Items to Inventory</h1>

  <%= render "form", inventory_food: @inventory_food %>

  <br>

  <div>
    <%= link_to "Back to Inventory", @inventory, class: "back-btn" %>
  </div>
</div>
