<div>
  <h1>Public Recipes</h1>
</div>

<% unless @recipes.empty?%>
  <% @recipes.each do |recipe| %>
    <div class="card">
      <h2><%= recipe.name%></h2><p>By <%= User.find(recipe.user_id).name %></p>
      <div class="container">
        <p>Total food items: <%= rand(1..3)%></p>
        <% total_price = 0 %>
        <% total_price += rand(40..100) %>
        <p>Total price: $ <%= total_price %>
      </div>
    </div>
  <%end%>
<% else %>
  <p> No foods available </p>
<% end%>
