<div class="inventories-page">
  <h1>Add Ingredients to Recipe</h1>

  <%= render "form", recipe_food: @recipe_food%>

  <br>

  <div>
    <%= link_to "Back to Recipe", @recipe, class: "link-btn" %>
  </div>
</div>

